.bg-bubble{
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    mix-blend-mode: screen;
}

.bg-bubble:nth-child(1){
    background-color: var(--blue);
    top: 0px;
    left: 0px;

    animation: bubble1 30s infinite alternate;
}

.bg-bubble:nth-child(2){
    background-color: var(--pink);
    right: 0px;
    top: 0px;

    animation: bubble2 30s infinite alternate;
}

.bg-bubble:nth-child(3){
    background-color: var(--purple);
    top: 25%;
    left: 25%;

    animation: bubble3 30s infinite alternate;
}

.bg-bubble:nth-child(4){
    background-color: var(--light-blue);
    right: 0px;
    bottom: 0px;

    animation: bubble2 30s infinite alternate;
}

@keyframes bubble1{
    0%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 51% 25% 20% 49% / 35% 45% 25% 25%;
    }

    25%{
        border-radius: 85% 15% 59% 8% / 38% 19% 12% 31%;
    }

    50%{
        transform: translateY(300px) translateX(400px) scale(.8);
        border-radius: 85% 15% 79% 21% / 18% 75% 25% 82%;
    }

    75%{
        border-radius: 13% 70% 25% 43% / 16% 19% 65% 31%;
    }

    100%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 51% 25% 20% 49% / 35% 45% 25% 25%;
    }
}

@keyframes bubble2{
    0%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 13% 70% 25% 43% / 16% 19% 65% 31%;
    }

    25%{
        border-radius: 85% 15% 79% 21% / 18% 75% 25% 82%;
    }

    50%{
        transform: translateY(200px) translateX(-500px) scale(1.8);
    }

    75%{
        border-radius: 51% 25% 20% 49% / 35% 45% 25% 25%;
    }

    100%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 13% 70% 25% 43% / 16% 19% 65% 31%;
    }
}

@keyframes bubble3{
    0%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 85% 15% 59% 8% / 38% 19% 12% 31%;
    }

    25%{
        border-radius: 85% 15% 79% 21% / 18% 75% 25% 82%;
    }

    50%{
        transform: translateY(50px) translateX(+200px) scale(1.5);
    }

    75%{
        border-radius: 51% 25% 20% 49% / 35% 45% 25% 25%;
    }

    100%{
        transform: translateY(0) translateX(0) scale(1);
        border-radius: 85% 15% 59% 8% / 38% 19% 12% 31%;
    }
}