.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #fe4ba5 40%, #173EF2 70%);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: rotate 5s linear infinite;
    opacity: 1;
    transform-origin: center;
    /* will-change: transform, width, height; */
}

.circle.active-circle {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: rgba(254, 75, 165, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    mix-blend-mode: exclusion;
    animation: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
